@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    font-size: 15px;
}

body {
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    gap: 0;
}

main > .card {
    margin: auto;
    width: 90%;
    padding: 40px;
    max-width: 400px;
}

main > .card > .image {
    width: 4rem;
    user-select:none;
}

main > .card > h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
}

main > .card > p {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    opacity: .8;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

main > .card > button {
    color: inherit;
    font-family: 'Lexend Deca', sans-serif;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 3rem;
    transition: all 0.1s linear;
    cursor: pointer;
}

main > .card > button:hover {
    background-color: inherit;
    color: white;
}

main > .card:nth-child(1) {
    background-color: var(--bright-orange);
    color: var(--bright-orange);
    border-radius: .5rem .5rem 0 0;
}

main > .card:nth-child(2) {
    background-color: var(--dark-cyan);
    color: var(--dark-cyan);
}

main > .card:nth-child(3) {
    background-color: var(--very-dark-cyan);
    color: var(--very-dark-cyan);
    border-radius: 0 0 .5rem .5rem;
}

@media (min-width: 600px) {
    main {
        flex-direction: row;
        justify-content:center;
        align-items: center;
        height: 100vh;
    }

    main > .card {
        height: 500px;
        margin: 0;
        position: relative;
    }

    main > .card > button {
        position: absolute;
        bottom: 2.5rem;
    }

    main > .card:nth-child(1) {
        border-radius: .5rem 0 0 .5rem;
    }
    
    main > .card:nth-child(3) {
        border-radius: 0 .5rem .5rem 0;
    }
}